<%- include('../partials/head') %>

<h1 class="post-title">Hi <%= msg.name %>, your message has been sent. </h1>
<a href="/" class="post-ahref"><i class="fa-solid fa-left-long"></i> Back to Home Page</a>